.retro-heading {
    font-family: "Bungee Shade", sans-serif;
    font-size: 2.5rem; 
    text-align: center; 
    margin-top: 40px;
  }
.repository-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .repository-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .repository-description {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .repository-stats {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .repository-issues {
    font-size: 1rem;
    color: #d9534f;
    margin-bottom: 20px;
  }
  
  .repository-link {
    display: inline-block;
    margin: 20px 20px 0 0;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .repository-link:hover {
    text-decoration: underline;
  }
  
  button {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
  